
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        

      <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.0.min.js"></script>
      <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.0.min.js"></script>
      <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.0.min.js"></script>
         
      <title>My Bokeh Plot</title>
      <link rel="stylesheet" href="css/bootstrap.min.css">

      {{msg}}

      {{the_script|safe}}

    </head>
    <body>
      {{the_div|safe}}
    </body>
</html>